@import "login.css";
/* variables */
:root{
	--fs-large: clamp(1rem, 12vw + 1rem, 2.2rem);
	--fs-medium: 2rem;
	--fs-small: 1.5rem;
	--fs-xsmall: 1;

	--radius:  1rem;
	--border-size: 1px;
}
/* db stands for dashboard */
body{
	background: var(--blue);
}
/* Display the layout */
.db-grid{
	display: grid;
	width: 100vw;
	height: 100vh;

	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: 0.2fr 2fr 0.01fr;
	grid-gap: 1rem;

	grid-template-areas: 
		"h h h "
		"l m r"
		"f f f";
	box-sizing: border-box;
}

/*  ----- All section ----- */
header, section, main{

}


/*  ========== HEADER SECTION ========== */
.db-header-content{
	grid-area: h;
	font-weight: bold;
	color: var(--white);
	/*text-align: center;*/
	padding: 0.5rem;
	border-bottom: var(--border-size) solid var(--white);
	font-family: "Raleway", sans-serif;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: 
		"label user label2";
}
.db-header-content label:first-child::after{
	content: "A Digitalized Work Request Manager";
	font-size: 0.38095238095em;
	padding: 0;
	display: block;
	font-weight: normal;
	font-style: italic;
}
.db-header-content label:first-child{
	font-family: "Roboto Slab", sans-serif;
	font-size: var(--fs-large);
	grid-area: label;
	text-align: center;
}
.db-header-content label:last-child{
	font-family: "Ubuntu", sans-serif;
	font-size: var(--fs-medium);
	font-weight: normal;
	grid-area: label2;

	padding-top: 1rem;
	text-align: center;
}
.db-header-content label:nth-child(even){
	font-family: "Ubuntu", sans-serif;
	font-size: var(--fs-medium);
	font-weight: normal;
	grid-area: user;

	padding-top: 1rem;
	text-align: center;
}




/*  ========== APPROVED REQUEST SECTION ========== */
.db-main-content{
	grid-area: m;
	color: var(--blue);
	border: var(--border-size) solid var(--blue);
	border-radius: var(--radius);
	/*padding: var(--radius);*/
	background: var(--white);


	display: flex;
	flex-direction: column;
}
/* Approved section contents */
.db-main-content .main-label{
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-align: center;
	border-bottom: var(--border-size) solid var(--blue);

	font-size: var(--fs-medium);
	font-weight: bold;
}
.db-main-content .main-content{
	flex-grow: 1;
	background: var(--white);
	color: var(--blue);

	font-size: var(--fs-small);
}	
.db-main-content .main-footer{
	flex-grow: 0;
	padding-bottom: 1rem;
	padding-top: 1rem;
	text-align: center;
	border-top: var(--border-size) solid var(--blue);
}



/*  ========== REQUESTS SECTION ========== */
.db-left-side-content{
	grid-area: l;
	color: var(--white);
	border: var(--border-size) solid var(--yellow);
	border-radius: var(--radius);
	margin-left: 1.5rem;
	margin-bottom: 3rem;

	display: flex;
	flex-direction: column;
}
	/* requests contents */
.db-left-side-content .left-label{
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-align: center;
	border-bottom: var(--border-size) solid var(--yellow);

	font-size: var(--fs-medium);
	font-weight: bold;
}
.db-left-side-content .left-content{
	flex-grow: 1;
	background: var(--blue);
	color: var(--white);

	font-size: var(--fs-small);
}	
.db-left-side-content .left-footer{
	flex-grow: 0;
	padding-bottom: 1rem;
	padding-top: 1rem;
	text-align: center;
	border-top: var(--border-size) solid var(--yellow);
	font-size: var(--fs-xsmall);
}




/*  ========== WORK STAFF SECTIONS ========== */
.db-right-side-content{
	grid-area: r;
	color: var(--white);
	border: var(--border-size) solid var(--white);
	border-radius: var(--radius);
	/*padding: var(--radius);*/
	margin-right: 1.5rem;
	margin-bottom: 3rem;

	display: flex;
	flex-direction: column;
}
/* work staff contents */
.db-right-side-content .right-label{
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-align: center;
	border-bottom: var(--border-size) solid var(--white);

	font-size: var(--fs-medium);
	font-weight: bold;
}
.db-right-side-content .right-content{
	flex-grow: 1;
	background: var(--blue);
	color: var(--white);

	font-size: var(--fs-small);
}	
.db-right-side-content .right-footer{
	flex-grow: 0;
	padding-bottom: 1rem;
	padding-top: 1rem;
	text-align: center;
	border-top: var(--border-size) solid var(--white);
	font-size: var(--fs-xsmall);
}




/* ----- Responsive to smaller resolution computers ----- */
@media only screen and (max-width: 1200px){
	:root{
	--fs-large: clamp(1rem, 12vw + 1rem, 1.7rem);
	--fs-medium: 1.7rem;
	--fs-small: 1.2rem;
	--fs-xsmall: 1rem;

	}

	.db-grid{
		grid-template-columns: 1fr 1.5fr 1fr;
	}
	.db-header-content label:first-child{
		padding-top: 0.5rem;
	}
}

/* ----- Responsive to phones ----- */
@media only screen and (max-width: 400px){
	body{
		background: red;
	}
}